In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
#Driver

driver = webdriver.Chrome(r"C:\Users\shaik mahaboob basha\Downloads\chromedriver.exe")

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos' 

driver.get(url)

In [59]:
Youtube_dict = {}
Youtube_dict['Rank1'] = []
Youtube_dict['Name1'] = []
Youtube_dict['Artist1'] = []
Youtube_dict['Upload dates1'] = []
Youtube_dict[' Views1'] = []

In [60]:
for i in range(0,30):
    driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/div/label/select/option[4]'.format(i))

In [61]:
# Rank
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]'.format(i))
for d in dt[:30]:
    Youtube_dict['Rank1'].append(d.text)

# Name
sn = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]'.format(i))
for n in sn[:30]:
    Youtube_dict['Name1'].append(n.text)
     
# Artist
IV = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]'.format(i))
for I in IV[:30]:
    Youtube_dict['Artist1'].append(I.text)    
        
# Upload dates
SV = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]'.format(i))
for v in SV[:30]:
        Youtube_dict['Upload dates1'].append(v.text)        
        
# Views
C = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]'.format(i))
for l in C[:30]:
    Youtube_dict[' Views1'].append(l.text)

In [62]:
Wiki_df = pd.DataFrame(Youtube_dict)
Wiki_df

,Rank1,Name1,Artist1,Upload dates1,Views1
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.43
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.32
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.29
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.22
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.08
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.43
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.16
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",4.05
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.96
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.94
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.77
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.45
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.43
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.33
14,15.,"""Dame Tu Cosita""[40]",El Chombo,"April 5, 2018",3.28
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.27
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.24
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.05
18,19.,"""Shake It Off""[44]",Taylor Swift,"August 18, 2014",3.05
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.05
20,21.,"""Lean On""[46]",Major Lazer Official,"March 22, 2015",3.02
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.01
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.01
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.97
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.90
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,"May 24, 2018",2.88
26,27.,"""Hello""[52]",Adele,"October 22, 2015",2.83
27,28.,"""Perfect""[53]",Ed Sheeran,"November 9, 2017",2.82
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.80
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.77

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [63]:
url = 'https://www.bcci.tv/' 

driver.get(url)

In [64]:
international_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/button").click()

In [65]:
international1_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[1]").click()

In [66]:
fixture_btn = driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

In [71]:
# creating empty lists for scraping data
Match_Titles=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [72]:
#scraping the Match Title 
title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title:
    if i.text is None :
        Match_Titles.append("--") 
    else:
        Match_Titles.append(i.text)
Match_Titles

['Final', '1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [74]:
#scraping the Series
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)
Series

['ICC WORLD TEST CHAMPIONSHIP FINAL',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [75]:
#scraping the Place
place=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/span")
for i in place:
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)
Place

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [76]:
#scraping the Date
date=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/span/strong")
for i in date:
    if i.text is None :
        Date.append("--") 
    else:
        Date.append(i.text)
Date

['Friday 18 June',
 'Wednesday 4 August',
 'Thursday 12 August',
 'Wednesday 25 August',
 'Thursday 2 September',
 'Friday 10 September']

In [78]:
#scraping the Time
time=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/span/text")
for i in date:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)
Time

['Friday 18 June',
 'Wednesday 4 August',
 'Thursday 12 August',
 'Wednesday 25 August',
 'Thursday 2 September',
 'Friday 10 September']

In [79]:
 
# creating the dataframe from the scraped data 

df=pd.DataFrame({"Match_Titles":Match_Titles,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
df.head()

,Match_Titles,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",Friday 18 June,Friday 18 June
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,Wednesday 4 August
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,Thursday 12 August
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,Wednesday 25 August
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,Thursday 2 September

Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [80]:
url = 'https://www.guru99.com/' 

driver.get(url)

In [81]:
Selenium_btn = driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[2]/span[8]/a").click()

In [82]:
Selenium_Exception_btn = driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a").click()

In [99]:
#Exception_dict = {}
Exception_Names = []
Descriptions = []

In [100]:
# Rank
dt = driver.find_elements_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]'.format(i))
for d in dt[:30]:
    Exception_Names.append(d.text)

# Name
sn = driver.find_elements_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]'.format(i))
for n in sn[:30]:
    Descriptions.append(n.text)

In [101]:

# creating the dataframe from the scraped data 

df=pd.DataFrame({"Exception Name":Exception_Names[:31],"Description":Descriptions[:31]})
df

,Exception Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [102]:
url = 'http://statisticstimes.com/' 

driver.get(url)

In [104]:
Economy_btn = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button/i").click()

In [105]:
Economy_btn = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [106]:
Ind_State_btn = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [121]:
State_GDP = {}
State_GDP['Ranks'] = []
State_GDP['State'] = []
State_GDP['GSDP 19-20'] = []
State_GDP['GSDP 18-19'] = []
State_GDP['Share'] = []
State_GDP['GDP in Billions'] = []

In [122]:
# Rank
dt = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[1]'.format(i))
for d in dt:
    if d.text is None :
        State_GDP['Ranks'].append("--") 
    else:
        State_GDP['Ranks'].append(d.text)

In [124]:
# State
dt = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[2]'.format(i))
for d in dt:
    if d.text is None :
        State_GDP['State'].append("--") 
    else:
        State_GDP['State'].append(d.text)

In [126]:
# GSDP 19-20

dt = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[3]'.format(i))
for d in dt:
    if d.text is None :
        State_GDP['GSDP 19-20'].append("--") 
    else:
        State_GDP['GSDP 19-20'].append(d.text)

In [127]:
# GSDP 18-19

dt = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[4]'.format(i))
for d in dt:
    if d.text is None :
        State_GDP['GSDP 18-19'].append("--") 
    else:
        State_GDP['GSDP 18-19'].append(d.text)

In [128]:
# Share

dt = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[5]'.format(i))
for d in dt:
    if d.text is None :
        State_GDP['Share'].append("--") 
    else:
        State_GDP['Share'].append(d.text)

In [129]:
# GDP in Billions

dt = driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[6]'.format(i))
for d in dt:
    if d.text is None :
        State_GDP['GDP in Billions'].append("--") 
    else:
        State_GDP['GDP in Billions'].append(d.text)

In [130]:
State_GDP_df = pd.DataFrame(State_GDP)
State_GDP_df

,Ranks,State,GSDP 19-20,GSDP 18-19,Share,GDP in Billions
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.12%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [131]:
url = 'https://github.com/' 

driver.get(url)

Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [132]:
url = 'https://www.billboard.com/' 

driver.get(url)

In [133]:
bill_btn = driver.find_element_by_xpath("/html/body/div[2]/div[2]/header/button/span").click()

In [134]:
chart_btn = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/a").click()

In [135]:
hot100_btn = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/span/span/span/span[1]/ul/li[1]/a").click()

In [145]:
hot100_bill = {}
hot100_bill['Song Names'] = []
hot100_bill['Artist Name'] = []
hot100_bill['Last Week Rank'] = []
hot100_bill['Peak Rank'] = []
hot100_bill['Weeks On Board Note'] = []

In [146]:
# Song Name
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for d in dt:
    if d.text is None :
        hot100_bill['Song Names'].append("--") 
    else:
        hot100_bill['Song Names'].append(d.text)

In [150]:
# Artist Name
dt = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for d in dt:
    if d.text is None :
        hot100_bill['Artist Name'].append("--") 
    else:
        hot100_bill['Artist Name'].append(d.text)

In [152]:
# Last Week Rank
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for d in dt:
    if d.text is None :
        hot100_bill['Last Week Rank'].append("--") 
    else:
        hot100_bill['Last Week Rank'].append(d.text)

In [154]:
# Artist Name
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for d in dt:
    if d.text is None :
        hot100_bill['Peak Rank'].append("--") 
    else:
        hot100_bill['Peak Rank'].append(d.text)

In [156]:
# Artist Name
dt = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for d in dt:
    if d.text is None :
        hot100_bill['Weeks On Board Note'].append("--") 
    else:
        hot100_bill['Weeks On Board Note'].append(d.text)

In [158]:
Hot100_Songs_df = pd.DataFrame(hot100_bill)
Hot100_Songs_df

,Song Names,Artist Name,Last Week Rank,Peak Rank,Weeks On Board Note
0,Rapstar,Polo G,1,1,2
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),3,1,7
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,5
3,Montero (Call Me By Your Name),Lil Nas X,2,1,4
4,Levitating,Dua Lipa Featuring DaBaby,6,5,29
...,...,...,...,...,...
95,Go!,Moneybagg Yo Featuring BIG30,-,96,1
96,Drankin N Smokin,Future & Lil Uzi Vert,-,31,12
97,Monsters,All Time Low Featuring Demi Lovato & blackbear,95,55,17
98,Slatty,Young Thug & Gunna Featuring Yak Gotti & Lil Duke,-,99,1
99,4 Da Gang,42 Dugg & Roddy Ricch,84,67,3

Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [3]:
url = 'https://www.naukri.com/' 

driver.get(url)

In [4]:
recruter_btn = driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div").click()

In [6]:
url = 'https://www.naukri.com/hr-recruiters-consultants' 

driver.get(url)

In [8]:
search_field_designation = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input").send_keys("Data science")

In [9]:
search_field_designation = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [52]:
Name = []
Designations = []
Companies= []
Skills = []
Location = []
Company_Name = []

In [54]:
#scraping the Name
names=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in names:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

In [55]:
#scraping the Designation
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for d in designation:
    if d.text is None :
        Designations.append("--") 
    else:
        Designations.append(d.text)

In [56]:
#scraping the Company
company=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for c in company:
    Companies.append(c.get_attribute('title'))

In [57]:
Company_Name = Companies[1::2]

In [58]:
Company_Name

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Bristlecone India Ltd',
 'SocialPrachar.com',
 'Easi Tax',
 'BISP Solutions',
 'Confidential',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'Autumn Leaf Consulting Services Private Limited',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Dollarbird Information Services Pvt, Ltd',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Trisect',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting Co. India',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'Certybox Pvt.Ltd.',
 'Western Service Providers',
 'AdView']

In [59]:
#scraping the Location
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for l in location:
    if d.text is None :
        Location.append("--") 
    else:
        Location.append(l.text)

In [60]:
#scraping the Skills
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for s in skills:
    if s.text is None :
        Skills.append("--") 
    else:
        Skills.append(s.text)

In [66]:
#creating a dataframe
df=pd.DataFrame({'Name':Name[:30],
                'Designations':Designations[:30],
                 'Company_Name':Company_Name[:30],
                 'Location':Location[:30],
                'Skills':Skills[:30]})
#printing dataframe
df

,Name,Designations,Company_Name,Location,Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
9,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Nagpur,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,Delhi,"Corporate Sales, Software Development, Softwar..."
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
22,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Mysoru / Mysore,"Web Technologies, Project Management, Software..."